* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
:root {
  --primary: #108ee9;
}
/* Global styles */
.clickable {
  cursor: pointer;
}
/* LOading indicator */
.loading-container {
  position: absolute;
  top: 40%;
  left: 42%;
}
