.card-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.card-inner-container {
  display: flex;
  align-items: center;
}
.inner-text {
  flex: 1;
  padding: 0px 15px;
}
.inner-text p {
  margin: 0;
  font-weight: bold;
}
.inner-text small {
  opacity: 0.7;
}
.card-container img {
  height: 4rem;
}
.gray-icon {
  color: grey;
}
